@using DGD.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DGD.Models.SanPham>

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SanPham</title>
</head>
<body >
    <h1 style="margin-left:15%;">QUẢN LÝ THÔNG TIN SẢN PHẨM</h1>
    <p style="margin-left:200px;">
        @Html.ActionLink("Thêm sản phẩm mới", "ThemSP")
    </p>
    <table style=" margin-left:230px;" class="table" border="1">
        <tr style="text-align:center;">
            <th style="width:150px">Tên sản phẩm</th>
            <th style="width:100px">Giá bán</th>
            <th style="width:50px">Số lượng</th>
            <th style="width:200px">Ảnh</th>
            <th style="width:200px">Mô tả</th>
            <th style="width:150px">Ngày ra mắt</th>
            <th style="width:100px">Loại sản phẩm</th>
            <th style="width:100px">Nhãn hiệu</th>
            <th style="width:100px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SL)
                </td>
                <td>
                    <img width="200px" height="200px" src="@Url.Content("~/image/"+ item.anh)" />
                </td>
                <td>
                    @Truncate(item.Mota, 100)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSP.LoaiSP1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanHieu.TenNH)
                </td>
                <td>
                    @Html.ActionLink("Xóa", "xoadh", new { id = item.MaSP })
                </td>
            </tr>
        }

    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
    <div style="margin-left:220px;" class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</body>
</html>


