@model DGD.Models.SanPham

@{
    ViewBag.Title = "xoadh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA ĐƠN HÀNG</h2>

<h3>bạn có chắc muốn xóa đơn hàng ?</h3>
<div style="margin-left:200px;">
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSp)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL)
        </dd>

        <dt>
            Ảnh:
        </dt>

        <dd>
            <img src="~/image/@Html.DisplayFor(model => model.anh)" />      
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ngày
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            Loại sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.LoaiSP1)
        </dd>

        <dt>
            Nhãn hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanHieu.TenNH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
